html
  head
    link(rel="stylesheet", href="/css/style.css")
    title 42Race - Authorization successfull
  body
    .main
        img.strava-icon(src="/img/strava-icon.png", alt="Strava Icon")
        h2.label Strava
        a.athlet-link(href= athletUrl)= athletUrl
        h3.label= `Bearer: ${token}`
        a.disconnect-btn(href="/authorize/disconnect") Disconnect